* {
  margin: 0;
  padding: 0;
}

:root {
  --primary: white;
  --primary-100: rgb(240, 240, 240);
  --toolbar-bg: var(--primary);
  --sidebar-bg: var(--primary-100);
  --fill-color: transparent;
  --stroke-color: transparent;
  --svg-panel-cursor: auto;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: var(--sidebar-bg);
    height: 100vh;
    width: max-content;
    min-width: 300px;
}

.svgContainer {
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.svgPanel {
    display: block;
    width: 100%;
    height: 100%;
    background-color: white;
    cursor: var(--svg-panel-cursor);
}

.toolbar-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toolbar {
  background-color: var(--toolbar-bg);
  width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  margin: 16px;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 10px 20px rgba(0, 0, 0, 0.04),
    0 20px 40px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--primary-100);
  border-radius: 5px;
}

.color-picker {
  width: 36px;
  height: 36px;
  border: 2px solid var(--primary-100);
  border-radius: 5px;
  background-color: var(--fill-color);
  cursor: pointer;
  position: relative;
}

.color-picker-stroke {
  width: 24px;
  height: 24px;
  border: 2px solid var(--primary-100);
  border-radius: 5px;
  background-color: var(--toolbar-bg);
}

.color-picker:has(.color-picker-stroke) {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--stroke-color);
}

.color-picker > input {
  position: absolute;
  /* Adjust these coordinates to change where the popup spawns */
  top: 0;
  left: 0;
  
  /* Shrink to a tiny point so it does not interfere with the UI */
  width: 1px;
  height: 1px;
  padding: 0;
  border: none;
  
  /* Make it completely invisible */
  opacity: 0;
  pointer-events: none;
}

.toolbar-button {
  background-color: var(--toolbar-bg);
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toolbar-button.active {
  background-color: var(--primary-100);
}

.toolbar-button:hover {
  background-color: var(--primary-100);
}

.toolselect {
  display: flex;
  position: relative;
}

.toolselect-selected {
  background-color: var(--toolbar-bg);
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toolselect-selected:hover {
  background-color: var(--primary-100);
}

.toolselect-more {
  background-color: var(--toolbar-bg);
  height: 36px;
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.toolselect-more:hover {
  background-color: var(--primary-100);
}

.toolselect-more > img {
  width: 12px;
  height: 12px;
}

.active > .toolselect-selected {
  background-color: var(--primary-100);
}

.toolselect-menu {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  background-color: var(--toolbar-bg);
  padding: 8px;
  box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.02),
    0 10px 20px rgba(0, 0, 0, 0.04),
    0 20px 40px rgba(0, 0, 0, 0.04);
  border: 1px solid var(--primary-100);
  border-radius: 5px;
  display: none;
  width: max-content;
}

.toolselect-menu.open {
  display: initial;
}

.toolselect-menu > button {
  display: flex;
  align-items: center;
  background-color: var(--toolbar-bg);
  border: none;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  width: 100%;
}

.toolselect-menu > button:hover {
  background-color: var(--primary-100);
}

.toolselect-menu > button > span {
  margin-left: 4px;
}

.svgContainer:has([data-input-mode="hand"].active) {
  --svg-panel-cursor: pointer;
} 

